.lista{
  min-height: 100vh;

}

.item-lista {
  margin: 15px 0px;
  padding: 8px;
  background-color: white;
  cursor: pointer;
}

.item-lista img {
  max-width: 100%;
}

.empresa-nome {
  font-size: 24px;
  color: #1a0e49;
  margin: 2px 0px;
}
.empresa-tipo {
  font-size: 18px;
  color: #8d8c8c;
  margin: 2px 0px;
}
.empresa-pais {
  font-size: 12px;
  color: #8d8c8c;
}
