<div class="lista" *ngIf="!ahEmpresaDetalhe; else detalhes">
  <div *ngFor="let empresa of empresas" class="row item-lista" (click)="empresaDetalhe(empresa.id)">
    <div class="col s4">
      <img src="/assets/imagens/img-e-1-lista.png" alt="SEM IMAGEM">
    </div>
    <div class="col s8">
      <p class="empresa-nome"><b>{{empresa.enterprise_name}}</b></p>
      <p class="empresa-tipo">{{empresa.enterprise_type.enterprise_type_name}}</p>
      <span class="empresa-pais">{{empresa.country}}</span>
    </div>
  </div>
</div>
<ng-template #detalhes class="lista">
  <empresas-detalhe [empresa]="empresa"></empresas-detalhe>
</ng-template>
