#login {
  max-width: 335px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.conteudo-login {
  width: 100%;
}

.banner {
  margin-top: 30px;
  width: 88.05%;
}

.sub-titulo {
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto;
}
