<div id="login">
  <div class="conteudo-login col s12">
    <div class="banner">
      <img src="assets/imagens/logo-login.png" alt="ioasys" class="responsive-img imagem">
      <p class="sub-titulo">BEM-VINDO AO EMPRESAS</p>
      <p>Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</p>
    </div>

    <form class="col s12 formulario">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail_outline</i>
          <label for="email">E-mail</label>
          <input type="email" id="email" class="validate" [(ngModel)]="email" name="email">
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_open</i>
          <label for="senha">Senha</label>
          <input type="password" id="senha" class="validate" [(ngModel)]="senha" name="senha">
        </div>
        <button class="waves-effect waves-light btn-large" (click)="login()">
          ENTRAR
        </button>
      </div>
    </form>
  </div>
</div>
