<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" *ngIf="!buscando; else busca">
      <a href="#" class="brand-logo center"><img src="assets/imagens/logo-nav.png" alt="ioasys" class=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="btn-pesquisar"><i class="material-icons" href="#" (click)="setBuscando()">search</i></li>
      </ul>
    </div>
      <ng-template #busca>
        <div class="nav-wrapper container row nav-busca">
          <label class="label-icon col s1 icone" for="busca"><i class="material-icons">search</i></label>
          <div class="input-field col s10">
            <input id="busca" type="text" autofocus placeholder="Pesquisar" (keyup.enter)="buscarEmpresas(valor)" ngFocus="" [(ngModel)]="valor" name="valor">
          </div>
          <i class="material-icons col s1 btn-close-busca" (click)="setBuscando()">close</i>
        </div>
      </ng-template>

  </nav>
</div>

<div class="container">
  <div class="conteudo">
    <div *ngIf="!ahEmpresas; else dadosEmpresas">
      <h4>Clique em buscar para iniciar.</h4>
    </div>

    <ng-template #dadosEmpresas>
      <empresas-lista [empresas]="empresas"></empresas-lista>
    </ng-template>
  </div>

</div>
