.brand-logo img {
  max-width: 140px;
}

.btn-pesquisar {
  margin-right: 15px;
  cursor: pointer;
}

.nav-busca {
  transition: 0.4s;
}

.icone{
  color: white;
}

.btn-close-busca{
  cursor: pointer;
}

.conteudo {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height:100vh;
}

.conteudo h4 {
  text-align: center;
}
