<div class="row item-detalhe">
  <div class="col s12">
    <img src="/assets/imagens/img-e-1-lista.png" alt="Sem Imagem">
  </div>
  <div class="col s12">
    <p>{{empresa.enterprise_name}}</p>
    <p>{{empresa.description}}</p>
  </div>
</div>
